:root {
    --dark: #040D12;
    --forest: #183D3D;
    --green: #5C8374;
    --sage: #93B1A6;
}

html {
    background-color: #F5F5DC;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

.calc-shell {
    position: relative;
    left: calc(50% - 200px);
    background-color: var(--forest);
    width: 400px;
    height: 560px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-around;
}

.readout {
    width: 350px;
    height: 100px;
    background-color: var(--dark);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    border: var(--green) solid 5px;
    border-bottom: none;
    border-right: none;
    padding-right: 10px;
}

.row {
    width: 380px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button {
    width: 80px;
    height: 80px;
    background-color: var(--sage);
    border: var(--green) outset 10px;
    border-top: none;
    border-left: none;
    border-radius: 50%;
    color: var(--dark);
    cursor: pointer;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

button:active {
    border: var(--green) outset 5px;
    border-top: none;
    border-left: none;
    -moz-transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    -o-transform: translate(0px, 5px);
    -ms-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
}

.clear {
    width: 170px;
    border-radius: 15px;
}

.equals {
    width: 370px;
    border-radius: 15px;
}

footer {
    font-family: sans-serif;
    font-size: 10px;
    color: var(--dark);
}

a {
    text-decoration: none;
    color: var(--dark);
    cursor: pointer;
}